.Contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(circle at 50.1% 40.8%,
      rgb(159, 200, 238) 0%,
      rgb(10, 74, 133) 99.4%);
}

.header {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translateX(-50%);
}

.card-container {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Montserrat", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  justify-content: flex-start;

  margin: 1rem;
  max-width: 20rem;
  min-width: 20rem;
  width: 20rem;
  height: 32rem;
  min-height: 32rem;
  overflow: hidden;
  background-color: #1f1f1f;
  border-radius: 1rem;
  box-shadow: 0px 1px 2px 0px,
    0px 2px 6px 2px;

  /* box-shadow: $primary 0px 1px 2px 0px,
    $primary 0px 2px 6px 2px; */

  /* @include mobile {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
  } */

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
  }

  .card-img {
    margin-top: 20%;
    margin-bottom: 10px;

    min-height: 45%;
    min-width: 45%;
    padding: 5px;
    justify-content: center;
    align-items: flex-start;
    /* overflow: hidden; */
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  }

  .name-and-social {
    text-align: center;

    padding: 10px;

    .name {
      font-size: 30px;
      margin: 0;
    }

    .social-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 17%;
      margin-bottom: 30px;
    }

    .fa-cog {
      color: rgb(63, 135, 217);
      background-color: 1f1f1f;
    }

    .component-1 {
      margin-top: 10%;
      margin-right: 50px;

      &:hover {
        transform: translateY(-6px);
        cursor: pointer;
      }
    }

    .component-2 {
      margin-top: 10%;

      &:hover {
        transform: translateY(-6px);
        cursor: pointer;

      }
    }

  }
}

/* } */