/* STYLING FOR PAGE BODY */
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.dashcontent {
    display: flex;
    flex-direction: row;

    margin: 0px;
    height: 100%;
    width: 100%;
    min-height: 100vh;

    background-color: #c5c5c5;
}

/* STYLING FOR THE ROOT DIV (PAGE BACKGROUND) */
:root {
    margin: 0px;
    height: 100%;
    width: 100%;
    min-height: 100vh
}


/* TEMP CODE FOR TESTING */
.mocktitle {
    font-size: 75px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    line-height: 1.1;
}

/* logcard CSS */
.logcard {
    flex-grow: 1;
    align-self: center;
    height: 75vh;

    border-radius: 14px;

    background: rgba(255, 255, 255, 0.29);
    margin-top: 95px;
    margin-bottom: 10px;
    margin-left: 270px;
    margin-right: 0px;
}

/* NAVBAR CSS */
.navbar {
    flex-grow: 1;
    position: absolute;
    width: 240px;

    top: 0px;
    right: 1245px;
    bottom: 0px;
    left: 0px;
}

.navbar .navbox {
    background-color: #faf7f7;
    height: 100vh;

    position: absolute;
    width: 240px;
}

/* CONNECT POD BUTTON CSS */
.connectpod {
    margin-right: 35px;
    margin-top: 50px;

    width: 231px;
    height: 44px;
    border: none;
    border-radius: 11px;
    background: #71D4F3;

    font-size: medium;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    
}

.connectpod:hover {
    background: white;
}