body {
  background-color: rgb(219, 28, 28);
}


#feature-demo{
  display: flex;
  margin-top: 35px;
  margin-left: 520px;
  height: 400px;
  width: 600px;
}

#feature-par{
  margin-left: 25px;
  margin-top: 100px;
  font-size: 35px;
}

test {
  background-color: rgb(50, 189, 244)
}