body {
  background-color: rgb(235, 235, 235);
}


#feature-demo{
  display: flex;
  margin-top: 35px;
  margin-left: 520px;
  height: 400px;
  width: 600px;
}

#feature-par{
  margin-left: 25px;
  margin-top: 100px;
  font-size: 35px;
}